<ul id="todo-list">
  {{#each model as |todo| }}
  <li class="editing {{if todo.isCompleted 'completed'}}">
    {{#if todo.isEditing}}
    {{ edit-todo class="edit" value=todo.title focus-out=(action "acceptChanges" todo) insert-newline=(action "acceptChanges" todo)}}
    {{else}}

    {{input type='checkbox' class="toggle" checked=todo.isCompleted className="toggle"}}
    {{#link-to "todo.show" todo.id class=todo.id}}
    <label {{action "editToDo" todo on= "doubleClick"}}>
      {{todo.title}}
    </label>
    {{/link-to}}
    <button class="destroy" {{action "removetodo" todo}}></button>
    {{/if}}
  </li>
  {{/each}}
</ul>
{{outlet}}
